<div class="row">
	<div class="col-sm-12 home-div">
		<div id="stick"></div>
		<div class="image1 img-home">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, inventore, eligendi, odio quis voluptatem nostrum aperiam quae nobis velit earum fugit totam cum dolores nisi dolorem alias molestiae ducimus architecto!
		</div>
		<div class="image2 img-home">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, inventore, eligendi, odio quis voluptatem nostrum aperiam quae nobis velit earum fugit totam cum dolores nisi dolorem alias molestiae ducimus architecto!
		</div>
		<div class="image3 img-home">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, inventore, eligendi, odio quis voluptatem nostrum aperiam quae nobis velit earum fugit totam cum dolores nisi dolorem alias molestiae ducimus architecto!
		</div>
		<div class="image4 img-home">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, inventore, eligendi, odio quis voluptatem nostrum aperiam quae nobis velit earum fugit totam cum dolores nisi dolorem alias molestiae ducimus architecto!
		</div>
		<div id="img-world-flags"></div>
		<hr>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-2 txt-center">
				<span class="logo">
					logo
				</span>
			</div>
			<div class="col-sm-4 txt-center">
				<span class="circulo">
					link
				</span>
			</div>
			<div class="col-sm-2 txt-center">
				<span class="logo">
					logo
				</span>
			</div>
		</div>
	</div>
</div>